:root {
    --primary-color: #e50914;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: #000;
    color: #999;
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
}

h1,
h2,
h4,
h3 {
    color: #fff;
}

a {
    color: #fff;
    text-decoration: none;
}
p{
    margin: 0.5rem 0;
}
img{
    width: 100%;
}
.showcase{
    width: 100%;
    height: 93vh;
    position: relative;
    background: url("../img/background.jpg") no-repeat center center/cover;
    
}
.showcase-top{
    position: relative;
    height: 90px;
}
.showcase-top a{
    position: absolute;
    top: 30%;
    right:0%;
    transform: translate(-50%,50% );
}
.showcase-content{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
    /* transform: translate(-50%,-50%); */
    margin-top: 4rem;
    z-index: 2;
}
.showcase-content p{
    margin: 15px 0px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.5;
    margin:0 0 1.5rem;
    color: #fff;
}
.showcase-content h1{
    font-size:4rem ;
    font-weight: 700;
    line-height: 1.1;
    margin: 0 0 0 0rem;
}
.showcase::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, .55);
}
.btn{
    background-color: var(--primary-color);
    color: #fff;
    padding: .4rem 1.3rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    margin-right: .5rem;
    border-radius: 2px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .45);
    text-align: center;
    outline: none;
    z-index: 2;
}
.btn-xl{
    text-transform: uppercase;
    font-size: 2rem;
    padding: 1rem 2.8rem;
}
.btn-rounded{
    border-radius: 5px;
}
.btn-xl:hover{
    background-color: hsl(357, 92%, 50%);
}
.sec1{
    display: flex;
    justify-content:space-around;
    /* height: 60vh; */
    align-items: center;
}
.sec1 .div1{
    width: 40rem;
    margin: 2rem;
}
.sec1 .div1 h1{
    margin: 10rem 5rem 0rem 5rem;
    font-size: 3rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.sec1 .div1 p{
    margin: 0rem 5rem 0rem 5rem;
    font-size: 1.5rem;
    color: #fff;
    font-weight: 400;
    text-align:left;
    display: block;
    /* margin-left: 0px; */
    /* margin-left: 20px; */
}
#imgslider{
    display: inline-block;
    height: 18rem;
    width: 35rem;
    background-size:cover;
    margin-right: 40px;
    border: 4px solid gray;
    transition: backgroundImage .7s ease-out;
    margin-bottom: 2rem;
    margin-top: 2rem;

}
.break{
    height: 1vh;
    background-color: #252424;
}
.sec2{
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    /* height:75vh; */
}
.sec2div1{
    width: 35rem;
    height:28rem;
    margin: 30px auto;
}
.sec2div1 img{
    width: 95%;
    height: auto;
    /* margin-bottom:30px auto; */
}
.sec2div2{
    /* display: inline; */
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 30px auto;
}
.sec2div2 p{
    font-size: 1.5rem;
    color: #fff;
    font-family: sans-serif;
}
.sec2div2 h1{
    font-size: 3rem;
}
.boxload{
    position: relative;
    height: 90px;
    width: 350px;
    background-color: red;
    left: 50%;
    top:-15%;
    transform: translate(-50%,-50%);
    background-color:black;
    border: 2px solid gray;
    display: flex;
    justify-content:space-around;
    align-items: center;
    border-radius: 10px;
}
.str-poster{
    width: 60px;
    height: 90px;
    margin-top: 15px;
}
.str-poster img{
    width: 50px;
    height: auto;
    /* margin-top: 2px; */
    /* margin-left: 2px; */
}

.textdown p{
    color: rgb(26, 26, 250);
    font-size: small;
}
.download{
    margin-right: 10px;
}
.sec3{
    height: 75vh;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec3div1{
    width: 40%;

}
.sec3div2{
    width: 40%;
}
.sec3div1 h2{
    font-size: 50px;
}
.sec3div1 p{
    font-size: 30px;
    color: #fff;
}
.sec4{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}
.sec4div1{
    width: 40%;
}
.sec4div2{
    width: 32%;
}
.sec4div2 h1{
    font-size: 50px;
}
.sec4div2 p{
    font-weight: 300;
    font-size: 25px;
    color: #fff;
}
.sec5{
    /* height: 130vh; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
}
.sec5 h1{
    margin-top:5%;
    font-size: 40px;
    margin-bottom: 3%;
}
.box-container{
    width: 62%;
    margin-top: 20px;
    margin-bottom: 3%;
}
.box{
    height: 12vh;
    width: 100%;
    cursor: pointer;
    background-color:#303030;
    text-align: left;
    padding-left: 5%;
    color: #fff;
    font-size: x-large;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin: 4px;

}
.btndiv{
    width:100%;
    display: none;
    border: 1px solid black;
    color: #fff;
    transition: innerText .2s ease-in;
    background-color: #303030;
}
.btndiv p{
    font-size: 1.7rem;
    font-family: 'Roboto',sans-serif;
    color: #fff;
    margin: 20px 40px;
}
.search-bar{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}
.search-bar input{
    height: 3.5rem;
    width: 69%;
    display: inline;
    /* margin-right: 0px; */
    outline: none;
    font-size: large;
    font-weight: 500;
}
.search-btn{
    position: relative;
    height: 3.5rem;
    width: 30%;
    border: 1px solid red;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 0px; */
    background-color: rgba(190, 5, 5, 0.932);
    cursor: pointer;
}
.search-btn span{
    color: #fff;
    font-size: x-large;
    font-weight:400;
}
.search-btn:hover{
    background-color: rgba(241, 15, 15, 0.902);

}
.search h3{
    margin: 15px 40px;
}
#foot{
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot-container{
    width: 70%;
    /* border: 1px solid red; */
    margin-top:80px;
    font-size: 14px;
    color: gray;
}
.foot-box2{
    display:grid;
    grid-template-columns: auto auto auto auto;
    /* grid-template-rows: auto auto auto auto; */
    row-gap: 20px;
}
.foot-box1{
    margin-bottom: 20px;
}
.foot-box3{
    display: inline-flex;
    width: 130px;
    justify-content: space-around;
    align-items: center;
    border: 2px solid #fff;
    border-radius: 5px;
    height: 56px;
    margin-top: 40px;
    font-size: 16px;
}
.foot-box4{
    font-weight: 100;
    margin-top: 25px;
    margin-bottom: 30px;
}
@media only screen and (max-width: 1000px) {
   .sec2,.sec4{
    flex-direction: column-reverse;
   }
   .sec2div2 h1,.sec3div1 h1,.sec4div2 h1{
    font-size: 33px;
   }
   .sec2div2{
    width: auto;
    align-items: center;
   }
   .sec3,.sec1{
    display: flex;
    flex-direction: column;
    align-items: center;
   }
   .sec3div1{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
   }
   .sec3div2{
    width: 600px;
    margin: 1rem auto;
   }
   .sec3div1 h2{
    font-size: 30px;
    font-weight: 700;
   }
   .sec3div1 p,.sec4div2 p{
    font-size: 16px;
    text-align: center;
   }
   .sec4div2{
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
   }
    .div1{
    display: flex;
    flex-direction: column;
    width: auto;
    }
    .sec1 .div1 h1{
        font-size: 30px;
        text-align: center;
        margin: 10px auto;
    }
    .sec1 .div1 p{
        font-size: 15px;
        text-align: center;
    }
}